.page-header {
  background-image: url('assets\images\DReaMS_dark_mode_pill_bg.png');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 1rem center;
  padding-left: 60px; /* Make space for logo */
}
